<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage"  %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Shalev Website</title>

    <style type="text/css">
        body {
            font-family: Arial;
            margin: 0;
            padding: 0;
        }

        .title {
            font-size: 28px;
            text-align: center;
            padding: 10px;
            background-color:antiquewhite;
        }

        .menu img {
            width: 30px;
            margin: 5px;
            background-color:antiquewhite;
        }

        .content {
            padding: 20px;
            background-color:antiquewhite;
        }
    </style>
</head>

<body>
    <form runat="server">
        <table width="100%" length="100%" border="5px" background="lightblue" >

            <tr>
                <td colspan="2" class="title">
                    shalev website
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center" class="menu">
                    <a href="home.aspx"><img src="icons/home.png" alt="Home"></a>
                    <a href="search.aspx"><img src="icons/search.png" alt="Search"></a>
                    <a href="forms.aspx"><img src="icons/forms.png" alt="Forms"></a>
                    <a href="signIn.aspx"><img src="icons/login.png" alt="Sign In"></a>
                    <a href="signUp.aspx"><img src="icons/signup.png" alt="Sign Up"></a>
                    <a href="help.aspx"><img src="icons/help.png" alt="Help"></a>
                    <a href="about.aspx"><img src="icons/about.png" alt="About"></a>
                    <a href="exit.aspx"><img src="icons/exit.png" alt="Exit"></a>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="content">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr><td> </td></tr>

        </table>
    </form>
</body>
</html>