<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>shalev website</title>
   <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

   
</head>
<body>
    <table>
        <tr>
            <td> <h2 style="text-align: center;">shalev website</h2> </td>
        </tr>
        <tr><td>
                <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
                <asp:ContentPlaceHolder>
          </td></tr>
    </table>

    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
    <asp:ContentPlaceHolder>

</body>
</html>
